<div class="changes">

    <div class="headerChanges" onclick="history.back()">
        <span class="glyphicon glyphicon-menu-left returnButton"></span>
        {{menuTitle[idCategory]}}
    </div>
    <div id=ribbonChanges>
        <div class="nbArticle">
            {{nbArticle}} articles
        </div>
        <div class="trieArticle">
            <select name="selectTrieArticle" class="comboTrieArticle">
                <option>Trier par tendance</option>
                <option>Trier par prix</option>
                <option>Trier par nom</option>
            </select>
        </div>
    </div>

</div>

<div id="productsList" class="row">

    <div class="col-xs-6 articleProductsList" ng-class="{pair:$even, impair:$odd}" ng-repeat="articleVente in productsList" ng-click="goToDetail(articleVente.ID)">
        <div class="inner">
            <span class="promoTag" ng-show="{{articleVente.hasRemise}}">
                <span class="backgroundPromo"><span class="textPromo">PROMO</span></span>
            </span>
            <img class="imageArticle" ng-src="{{articleVente.img}}">
            <p class="artDesignationVente">{{articleVente.ArtDesignation}}</p>
            <div class="starsProductsList" ng-show="{{articleVente.hasNote}}">
                <span class="noteMoy">
                    <span class="notes-moyennes">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=articleVente.Note, 'yellow-star':$index<articleVente.Note}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
                    </span>
                </span>
            </div>
            <p class="prixTTCVente">
                <span class="remiseContainer" ng-show="{{articleVente.hasRemise}}">
                    <span class="pourcentage">{{articleVente.pourcentage}}%</span>
                    <span class="prixNonRemise">{{articleVente.prixNonRemise}}€</span>
                </span>
                <span class="prixTTC" ng-class="{prixReduit:articleVente.hasRemise}">{{articleVente.PrixTTC}} €</span>
            </p>
        </div>
    </div>

</div>