<div class="changePassword">
		
	<div class="textGestion">Ici, vous pouvez changer votre mot de passe.</div>

	<div class="contentsGestion">

		<div class="contentGestion row">

			<span class="labelGestion col-xs-8">Mot de passe actuel :</span>
			<input type="password" class="inputGestion col-xs-4" ng-model="menuDetail.webPasswordActuel">
		
		</div>

		<div class="contentGestion row">

			<span class="labelGestion col-xs-8">Nouveau mot de passe :</span>
			<input type="password" class="inputGestion col-xs-4" ng-model="menuDetail.newWebPassword">
		
		</div>

		<div class="contentGestion row confirmMail">

			<span class="labelGestion col-xs-8">Confirmation mot de passe :</span>
			<input type="password" class="inputGestion col-xs-4" ng-model="menuDetail.confirmNewWebPassword">
		
		</div>

		<div class="modification">
			<button class="modificationForm" ng-click="modifyPassword(menuDetail)">Modifier</button>
		</div>
	</div>

</div>